<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Minimalize -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
    />
    <!-- Styles -->
    <link rel="stylesheet" href="/styles/additional.css" />
    <link rel="stylesheet" href="/styles/style.css" />
    <!-- Adaptive -->
    <link rel="stylesheet" href="/styles/additional-adaptive.css" />
    <title>Account</title>
  </head>
  <body>
    <div class="header-modal shown signed-out account-modal">
      <!-- Signed in -->
      <ul class="account-list logged-in">
        <li class="account-details">
          <img src="./images/avatar.png" alt="avatar" />
          <p class="sub-minor-heading">Олександр Потужненко</p>
        </li>
        <li>
          <button class="log-out">
            <img src="./images/icons/download.svg" alt="download icon" />
            <p class="big-button">Вихід</p>
          </button>
        </li>
      </ul>
      <!-- Signed out -->
      <ul class="account-list sign-out">
        <li>
          <button class="primary-button small-button">Вхід</button>
        </li>
        <li>
          <button class="primary-button outline small-button">
            Реєстрація
          </button>
        </li>
      </ul>
    </div>
  </body>
  <script src="scripts/script.js"></script>
</html>
