<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Minimalize -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
    />
    <!-- Styles -->
    <link rel="stylesheet" href="/styles/additional.css" />
    <link rel="stylesheet" href="/styles/style.css" />
    <!-- Adaptive -->
    <link rel="stylesheet" href="/styles/additional-adaptive.css" />
    <title>Catalog</title>
  </head>
  <body>
    <div class="header-modal shown catalog-modal">
      <ul class="category-list">
        <li>
          <div class="category-img-name">
            <img src="./images/icons/fan.svg" alt="fan icon" />
            <p class="main-text">Інтерєр авто</p>
          </div>
          <img src="./images/icons/chevron-down.svg" alt="chevron down icon" />
        </li>
        <li>
          <div class="category-img-name">
            <img src="./images/icons/fan.svg" alt="fan icon" />
            <p class="main-text">АКПП і КПП</p>
          </div>
          <img src="./images/icons/chevron-down.svg" alt="chevron down icon" />
        </li>
        <li class="selected">
          <div class="category-img-name">
            <img src="./images/icons/fan.svg" alt="fan icon" />
            <p class="main-text">Гальмівна система</p>
          </div>
          <img src="./images/icons/chevron-down.svg" alt="chevron down icon" />
        </li>
        <li>
          <div class="category-img-name">
            <img src="./images/icons/fan.svg" alt="fan icon" />
            <p class="main-text">Двері, Багажники і Компоненти</p>
          </div>
          <img src="./images/icons/chevron-down.svg" alt="chevron down icon" />
        </li>
        <li>
          <div class="category-img-name">
            <img src="./images/icons/fan.svg" alt="fan icon" />
            <p class="main-text">Деталі двигуна</p>
          </div>
          <img src="./images/icons/chevron-down.svg" alt="chevron down icon" />
        </li>
        <li>
          <div class="category-img-name">
            <img src="./images/icons/fan.svg" alt="fan icon" />
            <p class="main-text">Додаткове обладнання і Тюнінг</p>
          </div>
          <img src="./images/icons/chevron-down.svg" alt="chevron down icon" />
        </li>
        <li>
          <div class="category-img-name">
            <img src="./images/icons/fan.svg" alt="fan icon" />
            <p class="main-text">Електрообладнання двигуна</p>
          </div>
          <img src="./images/icons/chevron-down.svg" alt="chevron down icon" />
        </li>
        <li>
          <div class="category-img-name">
            <img src="./images/icons/fan.svg" alt="fan icon" />
            <p class="main-text">Електрообладнання кузова</p>
          </div>
          <img src="./images/icons/chevron-down.svg" alt="chevron down icon" />
        </li>
        <li>
          <div class="category-img-name">
            <img src="./images/icons/fan.svg" alt="fan icon" />
            <p class="main-text">Запчастини для спецтехніки</p>
          </div>
          <img src="./images/icons/chevron-down.svg" alt="chevron down icon" />
        </li>
        <li>
          <div class="category-img-name">
            <img src="./images/icons/fan.svg" alt="fan icon" />
            <p class="main-text">Колеса та Шини</p>
          </div>
          <img src="./images/icons/chevron-down.svg" alt="chevron down icon" />
        </li>
        <li>
          <div class="category-img-name">
            <img src="./images/icons/fan.svg" alt="fan icon" />
            <p class="main-text">Кондиціонер, Обігрівач, Вентиляція</p>
          </div>
          <img src="./images/icons/chevron-down.svg" alt="chevron down icon" />
        </li>
        <li>
          <div class="category-img-name">
            <img src="./images/icons/fan.svg" alt="fan icon" />
            <p class="main-text">Кузов</p>
          </div>
          <img src="./images/icons/chevron-down.svg" alt="chevron down icon" />
        </li>
      </ul>
      <ul class="category-inside-list">
        <li><p class="main-text">Автомагнітола</p></li>
        <li><p class="main-text">Автомагнітола</p></li>
        <li><p class="main-text">Автомагнітола</p></li>
        <li><p class="main-text">Автомагнітола</p></li>
        <li><p class="main-text">Автомагнітола</p></li>
        <li><p class="main-text">Автомагнітола</p></li>
        <li><p class="main-text">Автомагнітола</p></li>
        <li><p class="main-text">Автомагнітола</p></li>
        <li><p class="main-text">Автомагнітола</p></li>
        <li><p class="main-text">Автомагнітола</p></li>
        <li><p class="main-text">Автомагнітола</p></li>
        <li><p class="main-text">Автомобільні коврики</p></li>
        <li><p class="main-text">Авточохли і накидки</p></li>
        <li><p class="main-text">Бардачок</p></li>
        <li><p class="main-text">Внутрішні компоненти кузова</p></li>
        <li><p class="main-text">Дзеркало заднього виду</p></li>
        <li><p class="main-text">Замок бардачка</p></li>
        <li><p class="main-text">Звукоізоляція</p></li>
        <li><p class="main-text">Карта багажного відсіку</p></li>
        <li><p class="main-text">Переднатягувач ременя безпеки</p></li>
      </ul>
    </div>
  </body>
  <script src="scripts/script.js"></script>
</html>
