<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Minimalize -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
    />
    <!-- Styles -->
    <link rel="stylesheet" href="/styles/additional.css" />
    <link rel="stylesheet" href="/styles/style.css" />
    <!-- Adaptive -->
    <link rel="stylesheet" href="/styles/additional-adaptive.css" />
    <title>Account</title>
  </head>
  <body>
    <div class="dropdown opened">
      <div class="selected-option">
        <p class="main-text">За популярністю</p>
        <img src="./images/icons/arrow-drop-down.svg" alt="arrow down" />
      </div>
      <ul class="options-list">
        <li class="option">
          <p class="main-text">За популярністю</p>
        </li>
        <li class="option">
          <p class="main-text">Від дешевих до дорогих</p>
        </li>
        <li class="option">
          <p class="main-text">Від дорогих до дешевих</p>
        </li>
        <li class="option">
          <p class="main-text">За назвою</p>
        </li>
      </ul>
    </div>
  </body>
  <script src="scripts/script.js"></script>
</html>
