<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Minimalize -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
    />
    <!-- Styles -->
    <link rel="stylesheet" href="/styles/additional.css" />
    <link rel="stylesheet" href="/styles/style.css" />
    <!-- Adaptive -->
    <link rel="stylesheet" href="/styles/additional-adaptive.css" />
    <title>Language</title>
  </head>
  <body>
    <div class="header-modal shown language-modal">
      <ul class="language-list">
        <li>
          <p class="minor-heading">UA</p>
        </li>
        <li>
          <p class="minor-heading">EN</p>
        </li>
      </ul>
    </div>
  </body>
  <script src="scripts/script.js"></script>
</html>
