/* Flex grids */
.f-4-2-1{
    gap: 1.5rem;
}
.f-4-2-1 .f-el{
   /* width: calc(25% - 1.5rem); */
   
   width: calc(25% - 1.13rem);
}
.f-3-2-1 .f-el{
    width: calc(100%/3 - 1.1rem);
}
.f-4-2 .f-el{
    /* width: calc(25% - 1.5rem); */
    
    width: calc(25% - 1.13rem);
}
.f-2-1{
    gap: 1.5rem;
}
.f-2-1 .f-el{
    width: calc(50% - 1.5rem);
}

/* Adaptive styles */
@media screen and (max-width: 1300px) {
    .header .find-part-button, .header .catalog.primary-button{
        display: none;
    }
    .text-image-section .container{
        flex-direction: column;
    }
    .search-bar{
        max-width: unset;
    }

    /* Flex grids */
    .f-4-2-1 .f-el{
        width: calc(50% - 1.5rem/2) !important;
    }
    
    .f-4-2 .f-el{
        width: calc(50% - 1.5rem/2) !important;
    }
    /* Flex grids */
    .f-2-1.successful-cases-list{
        flex-direction: column;
    }
    .f-2-1.successful-cases-list .f-el{
        width: 100%; 
     }
}
@media screen and (max-width: 1150px) {
    .video-section{
        display: none;
    }
}
@media screen and (max-width: 1100px) {
    /* Flex grids */
    .f-2-1.verified-sellers-list .f-el{
       width: 100%; 
    }
    /* Hero */
    .hero .container{
        flex-direction: column;
    }
    .hero .gallery{
        max-width: unset;
    }
    .hero .search-form{
        width: 100%;
        min-width: unset;
    }
    /* Find part */ 
    .find-part{
        height: max-content;
        padding-top: 12rem;
        padding-bottom: 12rem;
    }
    section.find-part{
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    section.find-part .search-form{
        max-width: unset;
    }
    section.find-part .form-container{
        width: 100%;
    }
    section.find-part h4 {
        max-width: unset;
    }
    .find-part .search-form{
        min-width: unset;
    }
    .find-part .find-part-inner{
        flex-direction: column-reverse;
    }
    .find-part .background img{
        width: auto;
    }
    /* Company desc */
    .company-desc .desc {
        max-width: unset;
        width: 100%;
    }
    .company-desc .container{
        flex-direction: column;
    }
    .company-desc form{
        width: 100%;
        height: auto;
    }
    /* Flex grid */
    .f-3-2-1 .f-el{
        width: calc(50% - 1.5rem/2);
    }
}
@media screen and (max-width: 900px) {
    /* General */
    .page-list .page{
        display: none;
    }
    /* Header */
    .header .search-bar{
        display: none;
    }
    .header .container{
        gap: 0;
        justify-content: space-between;
    }
    /* Shopping cart */
    .shopping-cart .application-section-list{
        flex-wrap: wrap;
    }
    /* Product card */
    .product-section .gallery-info {
        flex-direction: column;
    }
    /* Details */
    .details .page-list.inner{
        display: none;
    }
    .details .page-list.outer{
        display: flex;
    }
    .details .filter-and-offers.rows .filter{
        width: 100%;
        max-width: unset;
    }
    .details .filter-and-offers.rows{
        flex-direction: column;
    }
    .details .filter-and-offers.rows .offers {
        width: 100%;
    }
    /* Product card */
    .product-section .product-card{
        /* max-width: unset; */
        width: 100%;
        min-width: unset;
    }
    .product-section .gallery {
        width: 100%;
        min-width: unset;
    }
    .product-section .info-options {
        min-width: unset;
    }
    .product-section .seller-card{
        min-width: unset;
        width: 100%;
    }
    /* Flex grids */
    .f-2-1.condition-list{
        flex-direction: column;
    }
    .f-2-1.condition-list .f-el{
        width: 100%; 
     }
}

@media screen and (max-width: 700px) {
    .f-4-2-1 .f-el, .f-3-2-1 .f-el{
        width: 100% !important;
    }
    .statistic-list {
       flex-direction: column;
    }
}
@media screen and (max-width: 650px) {
    /* Verified sellers */
    .verified-sellers-list .company-image{
        width: auto;
    }
    /* Details */
    .details .product{
        flex-grow: 1;
    }
    /* Page list */
    .page-list{
        gap: 0.25rem;
    }
    .page-list .page {
        padding: 0.5rem 1.25rem;
    }
    /* Additional features */
    .list-section-additional-features{
        justify-content: center;
    }
    .list-section-additional-features .slider-show{
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .list-section-additional-features .slider-show .show-all-button{
        margin-left: 0;
    }
    /* Shopping cart */
    .shopping-cart .products .checkout{
        flex-wrap: wrap;
        justify-content: center;
    }
    .shopping-cart .price{
        width: 100%;
        justify-content: space-between;
    }
    .shopping-cart .products button{
        width: 100%;
    }
    /* Catalog */
    .catalog-modal .catalog-inner{
        flex-direction: column;
    }
    .catalog-modal{
        max-height: unset;
    }
}


/* Mobile */
@media screen and (max-width: 500px) {
    .mobile{
        display: flex !important;
    }
    /* General */
    .container{
        width: calc(100% - 16px);
    }
    .main section{
        margin-bottom: 40px;
    }
    .products-list{
        flex-wrap: wrap;
    }
    .details .products-list .product{
        width: 163px;

    }
    .list-section .container{
        align-items: center;
        gap: 2rem;
    }
    .list-section h3.section-heading:first-child{
        text-align: center;
    }
    h1.heading{
        font-size: 20px;
        text-align: center;
    } 
    .list-section-additional-features .slider-show{
        width: 100%;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }   
    .list-section-additional-features .slider-show .show-all-button{
        margin-left: 0;
    }
    /* Account list */
    .account-modal .logged-in{
        left: -10rem;
    }
    .account-modal .sign-out{
        left: -1rem;
    }
    .language-modal{
        z-index: 14;
    }
    /* Catalog */
    .catalog-modal.section-opened .category-inside-list{
        display: flex;
    }
    .catalog-modal .category-inside-list{
        display: none;
    }
    .catalog-modal .catalog-inner{
        padding: 1rem;
    }
    .catalog-modal .catalog-inner{
        gap: 0;
    }
    .catalog-modal .category-list, .catalog-modal .category-inside-list{
        width: 100%;
    }
    .catalog-modal .category-list li img:last-child{
        transform: rotateZ(-90deg);
    }
    /* Sidebar */
    .sidebar-menu{
        width: 100vw;
    }
    .sidebar-menu .footer .blocks{
        display: none;
    }
    /* Shopping cart */
    .shopping-cart{
        width: 100vw;
        height: calc(100vh - 5rem);
    }
    .shopping-cart .checkout{
        flex-direction: column;
    }
    /* .shopping-cart .checkout button{
        width: 100%;
        padding: 0.5rem 1rem;
        position: absolute;
        bottom: -3.5rem;
    } */
    .shopping-cart .shopping-cart-nav .cart {
        padding: 0;
    }
    .shopping-cart .product-element::after {
        display: none;
    }
    .shopping-cart .empty-section .primary-button{
        width: 100%;
    }
    .shopping-cart .empty-section .shopping-cart-image-container img{
        width: 7.5rem;
    }
    .shopping-cart{
        margin-top: 5rem;
        width: 100%;
        border-radius: 0;
        min-height: 100vh;
        height: auto;
    }
    .shopping-cart.application .primary-button{
        width: 100%;
        padding: 0.5rem 1rem;
        font-size: 20px;
    }
    .shopping-cart .section-heading{
        font-size: 20px;
    }
    .shopping-cart .application-section-list{
        flex-direction: column;
    }
    .shopping-cart .product{
        flex-direction: column;
    }
    .shopping-cart .product .close{
        display: none;
    }
    .shopping-cart .price-per-piece, .shopping-cart .remove{
        display: none;
    }
    .shopping-cart .product-element{
        height: auto;
    }
    .shopping-cart .product-desc .mobile{
        font-weight: 600;
    }
    .shopping-cart .product-desc-image{
        width: 100%;
    }
    .shopping-cart .product .count img {
        width: 2rem;
    }
    .shopping-cart .count-quantity-total {
        width: 100%;
        justify-content: space-between;
    }
    .shopping-cart .products{
        padding: 0.75rem;
    }
    .shopping-cart .product .product-img {
        width: 100px;
    }
    .shopping-cart .name-tag{
        flex-direction: column;
        gap: 10px;
        align-items: start;
    }
    .shopping-cart .shop .fill-tag{
        margin: 0;
    }
    .shopping-cart.application .count{
        display: flex;
    }
    .shopping-cart.application .quantity {
        display: none;
    }
    .shopping-cart .products .apply-button{
        display: none !important;
    }
    .shopping-cart .shopping-cart-container .products:nth-last-of-type(3) .apply-button.mobile{
        display: flex !important;
    }
    .shopping-cart .total-price-mobile-counter{
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    } 
    /* Header */
    .header .container{
        justify-content: space-between;
        gap: 0;
    }
    /* Hero */
    .hero .container{
        flex-direction: column;
        gap: 1rem;
    }
    .hero .search-bar{
        margin-bottom: 0.5rem;
    }
    .hero .gallery{
        margin-top: 1rem;
    }
    .hero .slider.mobile{
        width: 100%;
    }
    .hero .gallery .slider{
        display: none;
    }
    .search-form{
        width: 100%;
    }
    .hero .gallery-unit{
        padding: 40px;
    }
    .hero .gallery .controls{
        display: none;
    }
    .hero .slider.absolute{
        margin-top: 1rem;
        position: relative;
        margin-bottom: 0;
    }
    .hero .gallery-unit .heading{
        width: auto;
        text-align: left;
        font-size: 20px;
    }
    .hero .gallery-unit .text-main{
        font-size: 12px;
        width: 200px;
    }
    /* Product section */
    .product-section .property{
        flex-direction: column;
        gap: 0.75rem;
    }
    .product-section .payment-and-delivery{
        display: none;
    }
    /* Seller section */
    .seller-section .seller-card{
        width: 100%;
    }
    /* New products */
    .review-form .contacts{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
    .review-form .contacts input, .review-form .contacts .name{
        width: 100%;
    }
    .review-form .rating {
        flex-direction: column;
    }
    .review-form .stars li img {
        width: 2rem;
        height: 2rem;
    }
    .review-form .stars li p {
        display: none;
    }
    /* Product */
    .product .time-model {
        flex-direction: column;
    }
    .product .time img{
        width: 1rem;
        height: 1rem;
    }
    .product .product-price{
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0;
        margin-bottom: 0.25rem;
    }
    .product-heading{
        font-size: 14px;
    } 
    .manufacturer-details{
        align-items: center;
    }
    .manufacturer .chevron-down{
        display: none;
    }
    /* Details */
    .filter-and-offers{
        flex-direction: column;
    }
    .details .filter{
        max-width: unset;
        width: 100%;
    }
    /* Page list */
    .page-list .page{
        display: none;
        padding: 0.5rem 1rem;

    }
    .details .page-list.outer{
        justify-content: space-between;
    }
    /* Find part */
    .find-part{
        max-height: 100%;
        max-width: 100%;
    }
    .find-part .container{
        width: 100%;
        height: 100vh;
        justify-content: start;
    }
    .find-part .form-container .heading{
        display: none;
    }
    .find-part .form-container{
        padding: 0 0.75rem;
    }
    .find-part .find-part-text{
        padding: 1rem 0.75rem;
        background: linear-gradient(90deg, rgba(21, 21, 21, 0.80) 33.09%, rgba(60, 60, 60, 0.53) 72.74%, rgba(123, 123, 123, 0.20) 101.02%), url(../images/find-part-mobile-bg.jpg);
        background-size: cover;
        align-items: center;
        height: 100%;
    }
    .find-part .find-part-text p{
        color: var(--text-color-2);
    }
    .find-part .find-part-text h4, .find-part .find-part-text h6{
        color: var(--text-color-2);
    }
    .find-part .find-part-text h4{
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.5;
        text-align: center;
    }
    .find-part .find-part-top{
        padding: 0 0.75rem;
    }
    .find-part .find-part-text .advantage img{
        width: 2rem;
    }
    .find-part.header-modal{
        width: 100%;
        border-radius: 0;
        padding: 0;
        height: 100%;
        background: none;
        background-color: #fff;
    }
    .find-part.header-modal .container{
        flex-direction: column;
        gap: 1.5rem;
    }
    .find-part-inner{
        flex-direction: column-reverse;
        height: 100%;
    }
    .find-part .search-form{
        width: 100%;
        min-width: 100%;
        padding: 0;
        box-shadow: none;
    }
    .find-part .form-container{
        width: 100%;
    }
    /* Find part section */
    section.find-part{
        display: none;
    }
    /* Header */
    .header .find-part-button, .header .catalog, .header .search-bar,.header .header-list .shopping-cart{
        display: none;
    }
    /* Hero */
    /* Auto catalog */
    .auto-catalog-list li {
        width: 163px;
    }
    /* Catalog */
    .catalog-list{
        flex-wrap: wrap;
    }
    .catalog-modal .catalog-inner{
        flex-direction: row;
    }
    .catalog-list-element { 
        width: 158px;
    }
    .catalog-list-element .catalog-element-image {
        padding: 30.5px 30px;
    }
    .catalog-list .minor-heading{
        font-size: 14px;
    }
    /* Parts from Ukraine */
    .parts-from-ukraine .parts-list {
        flex-wrap: wrap;
    }
    .parts-from-ukraine.regions .parts-list .parts-list-block{
        width: 100%;
    }
    .parts-from-ukraine .parts-list .parts-list-block {
        width: 163px;
    }
    /* Verified sellers */
    .verified-sellers .seller .company-location{
        flex-direction: column;
        justify-content: center;
    }
    
    .verified-sellers-list .seller{
        padding: 1rem;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .verified-sellers .seller-container{
        flex-direction: column;
        justify-content: space-between;
    }
    .verified-sellers .seller-contact-list, .verified-sellers .seller-desc-list{
        padding: 0;
    }
    .verified-sellers .seller-desc-list .location{
        display: none;
    }
    .verified-sellers .seller .company-location .main-text{
        display: flex;
    }
    /* Media gallery */
    .media-gallery .media-gallery-list .media-row {
        display: flex;
        flex-direction: column;
    }
    .media-gallery .media {
        width: 100%;
    }
    /* News */
    .news-piece{
        width: 100%;
    }
    /* Viewed products */

    /* Scan */
    .scan aside{
        align-items: start;
    }
    .scan h5{
        text-align: start;
    }

    /* Marketplace */
    .text-image-section{
        flex-direction: row;
    }
    .text-image-section .sub-heading{
        font-size: 20px;
        text-align: center;
        font-weight: 600;
    }
    .text-image-section .minor-heading{
        font-size: 16px;
    }
    .text-image-section .container{
        flex-direction: column;
        gap: 60px;
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .text-image-section .primary-button{
        margin-top: 1rem;
        width: 100%;
    }
    .text-image-section img{
        max-width: 322px;
        width: 100%;
    }

    /* Available services */
    .available-services .rhomb, .available-services .arc{
        display: none;
    }
    .available-services-list{
        box-shadow: none;
        padding: 0;
    }
    .available-services-list .divider{
        display: none;
    }
    /* Footer */
    .footer .footer-block{
        display: none;
    }
    .footer .footer-block.pod-kapot .main-text{
        max-width: 282px;
        width: 100%;
    }
    .footer .footer-block.pod-kapot{
        display: flex;
        width: 100%;
    }
}

@media screen and (max-width: 385px) {
    /* General */
    .small-button{
        font-size: 14px;
    }
    /* Header */
    .header-list .language{
        display: none;
    }
}

@media screen and (max-width: 350px) {
    /* Breadcrumbs */
    .breadcrumbs .breadcrumbs-list{
        flex-direction: column;
    }
    /* Header */
    .header-list .account{
        display: none;
    }
    .header .header-list{
        width: max-content;
        gap: 0;
    }
}