:root{
    --theme-color: #32cb4f;
    --theme-color-darker: #23b643;
    --accent-color: #005af0;
    --additional-color: #666666;
    --input-color: #ced4da;
    --text-color: #151515;
    --text-color-2: #ffff;
    --background-color: #f7f7f7;
    --background-color-darker: #f2f2f2;
    --background-color-lighter: #e4f2fd;
    --primary-color: #6B61E8;
    --primary-color-lighter: #6b61e8; 
}